<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <div class="post">
    <h3 class="post-title"><%= post.title %></h3>
    <div class="post-image">
      <%= link_to post_path(post.id) do %>
        <%= attachment_image_tag post, :image, :fill, 250, 250, fallback: "no_image.png" %>
      <% end %>
    </div>
  </div>
<% end %>