<div class="done">
  <div class="done-text">
    <h1>お問い合わせありがとうございます！
    </h1>
    <h5>
      ログイン時使用したメールアドレスへ返答させて頂きます。</br>
      引き続き「とっとっとりっぷ」をよろしくお願いします。
    </h5>
  </div>
  <div class="done-image"></div>
</div>