/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

// -------------------header----------------------------
header {
  height: 70px;
  background-color: #99ddcc;
}

.header-hello {
  float: left;
  height: 100%;
}

.header-hello p {
  padding: 20px 40px;
  color: #fff;
}

.header-logo {
  width: 200px;
  margin: 0 auto;
}

// ヘッダーのボタン
.openbtn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.openbtn span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

// ナビゲーション
#g-nav.panelactive {
  // position:fixed;にし、z-indexの数値を大きくし前面へ
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100vh;
}

// ナビゲーションの縦スクロール
#g-nav-list {
  // 初めは表示なし
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list {
  // クラスが付与されたら出現
  display: block;
}

#g-nav ul {
  // 初めは透過
  opacity: 0;
  // ナビゲーション中央揃え
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#g-nav.panelactive ul {
  // 背景が出現後にナビゲーションを表示
  opacity: 1;
}
// ナビゲーションレイアウト 場合によって変更
#g-nav.pavelactive ul li {
  animation-name: gnaviAnime;
  animation-duration: 1s;
  // 0.2秒遅らせて出現
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// 丸の拡大
.circle-bg {
  position: fixed;
  z-index: 3;
  // 丸の形
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #99ddcc;
  opacity: 0.9;
  // 丸のスタート位置
  // scaleを最初は0に
  transform: scale(0);
  top: -50px;
  left: calc( 50% - 50px);
  // 0.6秒かけてアニメーション
  transition: all 0.6s;
}

.circle-bg.circleactive {
  transform: scale(50);
}

nav ul {
  text-align: center;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  font-size: 25px;
}

// リンクを右下に固定
#page-top {
  position: fixed;
  right: 10px;
  bottom: 30px;
  z-index: 2;
    // はじめは非表示
  opacity: 0;
  transform: translateY(150px);
}

// 上に上がる動き
#page-top.UpMove{
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 0;
  transform: translateY(150px);
  }
  to {
    opacity: 1;
  transform: translateY(0);
  }
}

// 下に下がる動き
#page-top.DownMove{
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime{
  from {
    opacity: 1;
  transform: translateY(0);
  }
  to {
    opacity: 1;
  transform: translateY(150px);
  }
}

// 画像の切り替えと動き
#page-top a {
    // aタグの形状
  display: block;
  width: 100px;
  height: 100px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
    // 背景画像の指定
  background-image: image-url("frog1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#page-top.floatAnime a{
  width: 100px;
  height: 130px;
    // 背景画像の指定
  background-image: image-url("frog2.png");
  background-size: contain;
  background-repeat: no-repeat;
    // アニメーションの指定
  animation: floatAnime 2s linear infinite;
  opacity: 0;
}

@keyframes floatAnime {
  0% { transform: translateX(0); opacity: 0; }
  10% { transform: translateX(0);opacity: 1; }
  100% { transform: translateX(0);opacity: 1; }
}

// Page Topと書かれたテキストの位置
#page-top span{
  position: absolute;
  bottom: -20px;
  right: 20px;
  color: #666;
}

// -------------------------footer-----------------------------------------
footer {
  height: 200px;
  border-top: 1px solid #ccc;
  background-color: #99ddcc;
}
.footer {
  padding: 0 20px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer-list {
  display: inline-block;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-item: center;
  padding-right: 80px;
}

.footer-list li {
  margin: 0 10px;
}

.footer-logo a {
  font-size: 20px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}
// -----------------------------main--------------------------
body {
  background-color: #f6f6f6;
  color: #4d4545;
}

main {
  background-color: #f6f6f6;
  padding: 30px 50px 30px;
  min-height: 600px;
}

td {
  color: #4d4545;
}

.btn {
  color: #fff;
}

.btn:hover {
  color: #fff;
}

.btn-blue {
  background-color: #748cf8;
  opacity: 0.8;
}

.btn-blue:hover {
  opacity: 1;
}

.btn-green {
  background-color: #73f4b4;
  opacity: 0.8;
}

.btn-green:hover {
  opacity: 1;
}

.btn-red {
  background-color: #f67775;
  opacity: 0.8;
}

.btn-red:hover {
  opacity: 1;
}

.btn-yellow {
  background-color: #f7dc9d;
  opacity: 0.8;
}

.btn-yellow:hover {
  opacity: 1;
}

.message-text {
  color: #f67775;
}

// ---------------------------topページ------------------------
#splash {
  // fixedで全面に固定
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: #99ddcc;
	text-align: center;
	color: #fff;
}

// Loadingバー中央配置
#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 999;
	width: 100%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.top h3 {
  text-align: center;
}

.top-visual-slick {
  width: 100%;
  height: auto;
}

.top-visual-content {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slick-next:before {
  color: #000;
}

.top-visual-image {
  width: 100%;
  height: 50vw;
}

.about-image {
  width: 70%;
  height: 20vw;
  background-size: cover;
  margin: 0 auto;
  cursor: pointer;
}

.about-1 {
  background-image: image-url("about1.png");
}

.about-2 {
  background-image: image-url("about2.png");
}

.about-3 {
  background-image: image-url("about3.png");
}

.about-text-image {
  display: none;
  width: 70%;
  background-size: cover;
  margin: 0 auto;
}

.about-text-1 {
  background-image: image-url("about-text1.png");
  height: 18vw;
}

.about-text-2 {
  background-image: image-url("about-text2.png");
  height: 18vw;
}

.about-text-3 {
  background-image: image-url("about-text3.png");
  height: 16vw;
}

.top-genres {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.top-genre {
  padding: 0 20px;
  font-size: 30px;
  opacity: 0.8;
}

.top-rank-posts, .top-new-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box-dotted-line {
  padding: 0.5em 1em;
  background: #f0f7ff;
  border: dashed 2px #5b8bd0;/*点線*/
}

.top-posts-slider {
  width: 94%;
  margin: 0 auto;
}

.top-posts-slider img {
  width: 100%;
  height: 23vw;
}

.slick-slide {
  height: auto;
}

.top-posts-slider {
  margin: 0 auto;
}

// ---------------お問い合わせ画面----------------------------------

.contact-head {
  margin: 0 auto;
  text-align: center;
}

.contact-form {
  width: 60%;
  padding: 30px 0;
  margin: 0 auto;
}

.contact-text {
  width: 80%;
  margin: 0 auto;
}

.contact-text h6 {
  margin-top: 20px;
}

.contact-btn {
  width: 80%;
  margin: 0 auto;
}

// ------------------お問い合わせ完了画面------------------------------
.done-text {
  text-align: center;
}

.done-image {
  background-image: image-url("thanks.png");
  background-size: cover;
  width: 45%;
  height: 40vw;
  margin: 0 auto;
}

// ----------------投稿詳細画面-------------------------------------
.post-show-images {
  width: 100%;
}

.post-show-image {
  width: 80%;
  height: 40vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.post-show-image img {
  margin: 0 auto;
  width: 80%;
  height: 40vw;
}

.post-show-no {
  margin: 0 auto;
  width: 60%;
}

.post-show-no-image {
  margin: 0 auto;
  width: 100%;
  height: 35vw;
}

.post-time-likes {
  display: flex;
  justify-content: space-between;
}

.favorites img {
  width: 75px;
  height: 22px;
}

.favorites a {
  text-decoration: none;
  color: #4d4545;
}

.post-show-tags a {
  color: #4d4545;
}

.table-border {
  border: solid 1px #dcdcdc;
}

.comment-btn {
  margin-top: 30px;
  background-color: #bad7df;
  color: #fff;
  cursor: pointer;
  border-radius: 50px;
}

.comment-form-btn {
  width: 330px;
}

.comment-index-btn {
  width: 240px;
}

.comment-form,
.comment-index {
  display: none;
}

// ---------------------投稿一覧画面---------------------------------
.post {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  border-left: 1px solid #dcdcdc;
}

.posts-index h1 {
  text-align: center;
}

.posts-index-btn a {
  color: #4d4545;
}

.posts-index-genre-btn a {
  color: #4d4545;
}

.posts-searches {
  margin-top: 30px;
  width: 20%;
  float: left;
}

.posts-search {
  width: 90%;
}

.posts-search-tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.posts-search-tags a {
  margin: 5px;
}

.posts-search-field {
  width: 100%;
}

.posts-search-btn {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.post-content {
  margin: 10px;
  background: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
}

.post-text {
  padding: 10px;
}

.post-genre-like {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}

.likes img {
  width: 75px;
  height: 22px;
}

#infscr-loading {
width: 100%;
text-align: center;
margin: 20px auto;
}

#infscr-loading img{
	width: 30px;/*ローディング画像のサイズ*/
}

.posts-tag h1 {
  text-align: center;
}

.posts-search-tags a {
  color: #4d4545;
}

// ----------------ランキングページ---------------------------
.genre-rank {
  display: flex;
  justify-content: space-around;
}

.posts-rank h1 {
  text-align: center;
  color: #f7dc9d;
}
// -------------------マイページ------------------------------
.user-info {
  margin-top: 100px;
  width: 20%;
  float: left;
  height: auto;
}

.user-favorite-posts {
  width: 100%;
}

/*tabの形状*/
.tab{
	display: flex;
	flex-wrap: wrap;
}

.tab li a{
	display: block;
	background: #f6f6f6;
	margin: 0 2px;
	padding: 10px 20px;
	border: 1px solid #dcdcdc;
	border-radius: 20px;
  color: #4d4545;
  text-decoration: none;
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a{
	background: #dcdcdc;
}

/*エリアの表示非表示と形状*/
.post-area {
	display: none;/*はじめは非表示*/
	opacity: 0;/*透過0*/
	padding: 30px 20px;
}

/*areaにis-activeというクラスがついた時の形状*/
.post-area.is-active {
  display: flex;/*表示*/
  animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes displayAnime{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
